body {
  min-height: 200px;
}
.jumbotron {
  padding: 2rem 1 rem;
  background-color: #7fffd4;
}

#project {
  background-color: #7fffd4;
}

.col {
  padding-bottom: 20px;
}

/* section {
  padding:  0 0 0 0;
} */
